#wrap {
  position: relative;
  cursor:none;
  overflow: hidden;
}
// .cursor  {
//   width: 60px;
//   height: 60px;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 9999;
//   border: 2px solid rgba(255, 255, 255, 0.64);
//   background-clip: padding-box;
//   transform: rotate(-45deg);
//   transition: all 0.1s,
//               background-color 0.5s;
//   pointer-events: none;
// }
// .cursor.on {
//   border-color: rgba(208, 255, 0, 0.64) ;
//   background-color: rgba(208, 255, 0, 0.64);
//   background-clip: padding-box;
// }
.cursor  {
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background: #d0ff00;
  pointer-events: none;
  z-index: 100000;
}
.follower  {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  background: white;
  border-radius: 50%;
  mix-blend-mode: difference; 
  z-index: 100000;
}
.grow {
  background: none;
  border:1px solid #fff;
}

#header {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 9999;
  @include flexBetween;
  &.fixed {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    .top_menu {
      display: none;
    }
  }
  .top_menu {
    ul {
      @include flexCenter;
      gap: 3.85vw;
      padding-right: 40px;
      li {
        flex-shrink: 0;
        a {
          display: block;
          padding: 40px 0;
          color: #F8F8F4;
          font-size: 0.83vw;
          &:hover {
            cursor: none;
          }
        }
      }
    }
  }
  .tit {
    position: relative;
    display: block;
    padding-left: 40px;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    z-index: 9999;
    transition: 0.3s;
  }
  .btn_menu {
    @include flexCenter;
    flex-direction: column;
    position: absolute;
    top:40px;
    right: 40px;
    gap: 8px;
    background:none;
    transition: 0.3s;
    z-index: 9999;
    &.active {
      span {
        background: #F8F8F4;
        &:nth-child(1) {
          transform: translateY(5px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(-5px) rotate(45deg);
        }
      }
    }
    span {
      height: 2px;
      width: 50px;
      background-color: #000;
      transition: 0.3s;
    }
  }
  .menu_wrap {
    @include flexCenter;
    position: absolute;
    top:0;
    left:0;
    display: none;
    width: 100vw;
    height: 100vh;
    background: #000;
    nav {
      ul {
        li {
          text-align: center;
          &+li {
            margin-top: 40px;
          }
          &:hover {
            a {
              position: relative;
              &::before {
                width: 100%;
              }
            }
          }
          a {
            position: relative;
            display: inline-block;
            color: #fff;
            font-size: 80px;
            &::before {
              position: absolute;
              left: 0;
              top: 45%;
              width: 0;
              height: 2px;
              background: #fff;
              transition: 0.3s;
              content: '';
            }
            span {
              @include en_sl;
              display: inline-block;
              margin-right: 10px;
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}
section {
  height:100vh;
}
.sec01 {
  position: relative;
  padding: 0 40px 40px;
  background: #000 url('../images/COLEO.png') no-repeat right bottom;
  background-size: 60%;
  .main_tit {
    padding-top:80px;
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }
  .caption { 
    position: absolute;
    right: 40px;
    bottom: 40px;
    text-align: right;
    p {
      color: #F8F8F4;
      font-size: 11px;
    }
  }
  .scroll {
    position: absolute;
    left: 40px;
    bottom: 0;
    @include flexCenter;
    gap: 20px;
    color: #F8F8F4;
    font-size: 16px;
    transform:rotate(-90deg);
    transform-origin: left bottom;
    .line {
      position: relative;
      width: 72px;
      height: 1px;
      background-color: #8a8a8a;
      &::before {
        position: absolute;
        width: 72px;
        height: 1px;
        background: #fffffe;
        animation-name: ani_scroll;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        content: '';
      }
    }
  }
}

@keyframes ani_scroll {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}
  
.sec02 {
  position:relative; 
  background-color: #F8F8F4;
  overflow: hidden;
  .txt_box {
    position: relative;
    width: 100%;
    height: 100vh;
    .txt {
      position: absolute;
      top:50%;
      left:50%;
      width: 100%;
      transform: translate(-50%,-50%);
      color: #000;
      font-size: 80px;
      text-align: center;
      mix-blend-mode:hard-light;
      &.txt2 {
        opacity: 0;
      }
      span {
        @include en_sl;
      }
    }
  }
  .video_wrap {
    position: absolute;
    top:53%;
    right: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    transform: translateX(395px);
    z-index: -1;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.sec03 {
  @include flexCenter;
  height: auto;
  .inner {
    width: 100%;
    padding-top: 20.94vw;
    padding-bottom: 8.13vw;
    background-color: #F8F8F4;
  }
  .flow_txt {
    @include flexCenter;
    flex-direction: column;
    >strong {
      @include en;
      display: block;
      font-size: 5.83vw;
      font-weight: 100;
      color: #000;
      span {
        @include en_sl;
        font-size: 6.25vw;
      }
    }
    >div {
      @include en_sl;
      margin: 30px 0 0 200px;
      font-size: 2.45vw;
      color: #000;
    }
  }
  .works_noti {
    margin-top:200px;
    text-align: center;
    p {
      margin-top: 50px;
      font-size: 1.61vw;
      line-height: 2.08vw;
      color: #000000;
      text-align: center;
    }
  }
}

.btn_round {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
  background: #F8F8F4;
  color: #000000;
  border: 0.07vw solid #000000;
  border-radius: 50px;
  transition: all .5s;
  &::after {
    content: '';
    display: inline-block;
    width: 0.75vw;
    height: 1.03vw;
    margin-left: 10px;
    background: url('../../resources/images/ico_arr_more.svg') no-repeat center center;
    background-size: 100% 100%;
  }
  &:hover {
    color: #fff;
    background: #000;
    &::after {
      background-color: #ccc;
      -webkit-mask-image: url('../../resources/images/ico_arr_more.svg') ;
      mask-image: url('../../resources/images/ico_arr_more.svg') ;
      -webkit-mask-size: cover;
      mask-size: cover;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      background-image: none;
    }
  }
}

.sec04 {
  height: auto;
  background-color: #F8F8F4;
  .top_wrap {
    @include flexStart;
    gap: 14vw;
    padding: 12.66vw 3.13vw 7.76vw;
    li {
      line-height: 1.35vw;
      font-size: 0.99vw;
      color: #000000;
    }
  }
  .contbox {
    @include flexBetween;
    align-items: start;
    gap: 4.69vw;
    height: 100vh;
    &:last-child {
      position: relative;
    }
    >* {
      width: 50%;
      height: 100vh;
    }
    .fix {
      .img {
        width: 100%;
      }
    }
    .img {
      width: 50%;
      height: 100vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .text {
      width: 50%;
      padding-top: 4.69vw;
      .titleBox {
        margin-bottom: 4.27vw;
        strong {
          font-size: 4.17vw;
          font-weight: 400;
          line-height: 4.17vw;
          text-align: center;
          span {
            @include en_sl;
            margin-left: 2.6vw;
          }
        }
      }
      .subBox {
        margin-bottom: 6.77vw;
        .txt {
          @include en;
          font-size: 1.04vw;
          line-height: 1.46vw;
          margin-bottom: 1.3vw;
          &.ko {
            font-size: 0.94vw;
            font-weight: 500;
            line-height: 1.30vw;
          }
        }
      }
      .iconBox {
        ul {
          li {
            display: flex;
            align-items: center;
            font-size: 1.04vw;
            margin-bottom: 2.08vw;
          }
        }
        > img {
          width: 18vw;
        }
      }
    }
  }
}


.sec05 {
  height: auto;
  background-color: #F8F8F4;
  .top_wrap {
    @include flexStart;
    padding: 20.63vw 6.98vw 5.68vw;
    span {
      font-size: 1.15vw;
      margin-right: 5.1vw;
    }
    .title {
      font-size: 3.65vw;
      font-weight: 400;
      line-height: 3.54vw;
      color: #000;
    }
  }
  .slide_wrap {
    @include flex;
    flex-wrap: nowrap;
    overscroll-behavior: none;
    li {
      flex-shrink: 0;
      width: 100%;
      height: 100vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  
}


.sec06 {
  height: auto;
  // padding-bottom: 120vh;
  .fix_txt {
    @include flexCenter;
    flex-direction: column;
    height: 100vh;
    .txt {
      font-size: 13vw;
      color: #000;
      &.t2 {
        @include en_sl;
          transform: translateY(-45%);
          letter-spacing: -0.4vw;
      }
    }
  }
  .list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 0 100px;
    li {
      width: calc(50% - 40px)/2;
      text-align: center;
      &:nth-child(2n) {
        margin-top:200px;
      }
      p {
        margin-top: 20px;
        color: #fff;
        text-align: left;
      }
    }
  }
  .text_wrap {
    position: relative;
    height: 50vh;
    margin-top: 120vh;
    h2 {
      position: absolute;
      font-size: 5.83vw;
      color: #F8F8F4;
      &.title_1 {
        top: 2.08vw;
        left: 3.13vw;
        transform: translateY(15.63vw);
      }
      &.title_2 {
        top: 10.94vw;
        right: 3.13vw;
        transform: translateY(15.63vw);
      }
      &.title_3 {
        top: 24.11vw;
        left: 15.42vw;
        font-size: 3.33vw;
        transform: translateY(15.63vw);
        span {
          display: inline-block;
          font-size: 0.83vw;
          vertical-align: top;
          margin-top: 0.8vw;
        }
      }
    }
    .halfCircle {
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      width: 12.16vw;
      height: 12.52vw;
      margin-left: -6.08vw;
      margin-top: -6.26vw;
    }

  }
}

.sec07 {
  height: auto;
  position: relative;
}

.sec07 .cont_wrap.cont_1 {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 5vw 0 0;
  background-color: #000000;
  z-index: 3;
  overflow: hidden;
}

.sec07 .cont_wrap.cont_1 > div {
  width: 100%;
  max-width: 68.44vw;
  margin: 0 auto;
}

.sec07 .cont_wrap.cont_1 .title {
  width: 100%;
  padding: 3.91vw 0 9.79vw;
}

.sec07 .cont_wrap.cont_1 .title h1 {
  display: block;
  font-size: 1.61vw;
  line-height: 2.08vw;
  color: #F8F8F4;
  margin-bottom: 1.35vw;
}

.sec07 .cont_wrap.cont_1 .title p {
  display: block;
  font-size: 1.61vw;
  line-height: 2.08vw;
  color: #F8F8F4;
  font-weight: 600;
}

.sec07 .cont_wrap.cont_1 .clientList {
  position: relative;
  width: 100%;
  max-width: none;
  white-space: nowrap;
}

.sec07 .cont_wrap.cont_1 .clientList .marquee {
  display: flex;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  line-height: 1;
}

.sec07 .cont_wrap.cont_1 .clientList .marquee ul.marquee__inner {
  -webkit-font-smoothing: antialiased;
  width: fit-content;
  display: flex;
  flex: auto;
  flex-direction: row;
}

.sec07 .cont_wrap.cont_1 .clientList .marquee ul.marquee__inner li.marquee__part {
  width: 23.18vw;
  height: 8.85vw;
  flex-shrink: 0;
  font-smooth: always;
}

.sec07 .cont_wrap.cont_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #F8F8F4;
  z-index: 2;
}

.sec07 .cont_wrap.cont_2 > div {
  padding: 0 3.85vw;
}

.sec07 .cont_wrap.cont_2 .subText {
  display: flex;
}

.sec07 .cont_wrap.cont_2 .subText p {
  font-size: 0.99vw;
  line-height: 1.35vw;
  color: #000000;
}

.sec07 .cont_wrap.cont_2 .subText p:nth-child(1) {
  margin-right: 16.46vw;
}

.sec07 .cont_wrap.cont_2 .title {
  display: flex;
  width: 100%;
  margin: 3.39vw auto 9.64vw;
}

.sec07 .cont_wrap.cont_2 .title div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec07 .cont_wrap.cont_2 .title div h1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 7.81vw;
  line-height: 7.24vw;
  font-weight: 400;
  color: #000000;
}
.sec07 .cont_wrap.cont_2 .title div h1:first-child {
  p {
    font-family: "Silk", sans-serif;
  }
}

.sec07 .cont_wrap.cont_2 .title div h1 p {
  position: relative;
  display: inline-block;
}

.sec07 .cont_wrap.cont_2 .title div h1:nth-child(1) p {
  font-size: 8.18vw;
}

.sec07 .cont_wrap.cont_2 .title div h1:nth-child(2) p {
  width: 6.38vw;
  height: 6.59vw;
}

.sec07 .cont_wrap.cont_2 .title div h1 span {
  display: inline-block;
}

.sec07 .cont_wrap.cont_2 .title div h1 span.emoji {
  position: absolute;
  width: 6.38vw;
  height: 6.59vw;
  background: url('../images/ico_typo_O.png') no-repeat center center;
  background-size: 100% 100%;
}

.sec07 .cont_wrap.cont_2 .title div h1 span.enter {
  position: absolute;
  bottom: 0;
  right: -3vw;
  display: inline-block;
  width: 3.49vw;
  height: 3.85vw;
  background: url('../images/ico_enter.svg') no-repeat center center;
  background-size: 100% 100%;
}

.sec07 .cont_wrap.cont_2 .infoBox {
  display: flex;
}

.sec07 .cont_wrap.cont_2 .infoBox > div p {
  font-size: 1.04vw;
  line-height: 1.61vw;
  color: #000000;
}

.sec07 .cont_wrap.cont_2 .infoBox .add a {
  display: inline-block;
}

.sec07 .cont_wrap.cont_2 .infoBox .add a span {
  text-decoration: underline;
}

.sec07 .cont_wrap.cont_2 .infoBox .email {
  margin-left: 13.80vw;
  margin-right: 13.13vw;
}

.sec07 .cont_wrap.cont_2 .infoBox .email a {
  text-decoration: underline;
  font-size: 1.04vw;
}

.sec07 .cont_wrap.cont_2 .infoBox .link {
  font-size: 0;
}

.sec07 .cont_wrap.cont_2 .infoBox .link a {
  background: #F8F8F4;
  color: #000000;
  font-size: 0.83vw;
  padding: 0.09vw 0.42vw;
  border: 0.07vw solid #000000;
  border-radius: 1.77vw;
  transition: all .5s;
}

.sec07 .cont_wrap.cont_2 .infoBox .link a:hover {
  background: #000000;
  color: #F8F8F4;
  transition: all .5s;
}

.sec07 .cont_wrap.cont_2 .infoBox .link a.linkedin {
  margin-right: 0.31vw;
}

.sec07 .cont_wrap.cont_3 {
  height: 100vh;
  z-index: 1;
}



@media screen and (max-width: 768px) {
  cursor,
  .follower,
  .cursor {
    display: none;
  }
  .top_menu {
    display: none;
  }
  #header {
    .tit {
      display: none;
    }
    .btn_menu {
      span {
        background: #fff !important;
      }
    }
  }
  section {
    height: auto;
  }
  .sec01 {
    height: 100vh;
    background-size: 100%;
    background-position: center 15%;
    .main_tit {
      display: none;
    }
  }
  .sec02 {
    width: 100%;
    max-width: 100%;
    .txt_box {
      height: auto;
      padding: 100px 20px 60px;
      .txt {
        position: static;
        font-size: 9.6vw;
        transform: none;
        text-align: left;
        &.txt2 {
          position: absolute;
          left: 0;
          top: 130%;
          opacity: 1;
          color: #fff;
          text-align: center;
          font-size: 8vw;
        }
      }
      
    }
    .video_wrap {
      position: static;
      transform:none;
      width: 100%;
      height: auto;
      aspect-ratio: 4/3;
      border-radius: 20px;
    }
  }
  .sec03 {
    .inner {
      padding-top: 200px;
    }
    .flow_txt {
      > strong {
        font-size: 10vw;
      }
    }
    .works_noti {
      margin-top: 100px;
      p {
        font-size: 5vw;
        line-height: 1.2;
        font-weight: 700;
      }
    }
  }

  .btn_round  {
    font-size: 18px;
    &::after {
      width: 3vw;
      height: 3vw;
    }
  }
  .sec04{
    .top_wrap {
      li {
        font-size: 3vw;
        line-height: 1.2;
        &:last-child {
          display: none;
        }
      }
    }
    .contbox {
      display: block;
      height: auto;
      // height: 400px;
      // overflow: hidden;
      &:first-child {
        .text {
          display: none;
        }
      }
      >* {
        width: 100%;
        height: auto;
      }
      .img {
        width: 100%;
      }
      .text {
        width: 100%;
        height: auto;
        padding: 20px;
        .titleBox {
          strong {
            display: inline-block;
            font-size: 10.13vw;
            line-height: 10.13vw;
          }
        }
        .subBox {
          .txt {
            font-size: 3.5vw;
            line-height: 5.87vw;
            margin-bottom: 5.87vw;
            &.ko {
              font-size: 3.5vw;
              line-height: 5.87vw;
              margin-bottom: 5.87vw;
              br {
                display: none;
              }
            }
          }
        }
        .iconBox {
          display: none;
        }
      }
    }
  }
  .sec05 {
    overflow: hidden;
    .top_wrap {
      display: block;
      span {
        display: block;
        font-size: 2.93vw;
        margin-bottom: 8.53vw;
      }
      .title {
        font-size: 8.5vw;
        line-height: 10.67vw;
        br {
          display: none;
        }
      }
    }
    .slide_wrap {
      li {
        height: 400px;
      }
    }
    
  }
  .sec06 {
    .fix_txt {
      .txt {
        font-size: 20vw;
      }
    }
    .list {
      padding:  0 20px;
      li {
        margin-top: 40px;
      }
      li:nth-child(2n) {
        margin-top: 40px;
      }
    }
    .text_wrap {
      h2 {
        font-size: 10vw;
        &.title_2 {
          top: 24.11vw;
        }
        &.title_3 {
          font-size: 7vw;
          top: 40vw;
        }
      }
      .halfCircle {
        display: none;
      }
    }
  }
  .sec07 {
    .cont_wrap {
      &.cont_1  {
        height: 70vh;
        .title {
          h1 {
            font-size: 5.07vw;
            line-height: 6.67vw;
            color: #F8F8F4;
            margin-bottom: 6.13vw;
          }
          p {
            font-size: 5.07vw;
            line-height: 6.67vw;
          }
        }
        .clientList {
          .marquee {
            ul.marquee__inner {
              li.marquee__part {
                width:72.53vw;
                height: auto;
              }
            }
          }
        }
      }
      &.cont_2  {
        display: block;
        padding: 100px 20px !important;
        .subText {
          display: none;
        }
        .title div h1 {
          display: block;
          line-height: 1.2;
          font-size: 16vw;
          &:nth-child(1) {
            p {
              font-size: 15vw;
              margin-left: 0;
            }
          }
          p {
            vertical-align: 9px;
            margin-left: -15px;
            span {
              &.emoji {
                width: 10vw;
                height: 10vw;
              }
            }
          }
        }
        .infoBox {
          display: block;
          >div {
            p {
              font-size:4.53vw;
              line-height:6.93vw;
            }
          }
          .email {
            margin: 8vw 0;
            p {
              font-size:4.53vw;
              line-height:6.93vw;
            }
            a {
              font-size:4.53vw;
              line-height:6.93vw;
            }
          }
          .link {
            a {
              display: inline-block;
              font-size: 4.27vw;
              padding: 0.8vw 2.13vw;
              border: 0.37vw solid #000000;
              border-radius: 9.07vw;
            }
          }
        }
      }
    }
  }
  #header .menu_wrap nav ul li a {
    font-size: 30px;
  }
}

