#wrap {
  position: relative;
  cursor:none;
}
// .cursor  {
//   width: 60px;
//   height: 60px;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 9999;
//   border: 2px solid rgba(255, 255, 255, 0.64);
//   background-clip: padding-box;
//   transform: rotate(-45deg);
//   transition: all 0.1s,
//               background-color 0.5s;
//   pointer-events: none;
// }
// .cursor.on {
//   border-color: rgba(208, 255, 0, 0.64) ;
//   background-color: rgba(208, 255, 0, 0.64);
//   background-clip: padding-box;
// }
.cursor  {
  width: 10px;
  height: 10px;
  position: fixed;
  top: 0;
  left: 0;
  background: #d0ff00;
  pointer-events: none;
  z-index: 100000;
}
.follower  {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  background: white;
  border-radius: 50%;
  mix-blend-mode: difference; 
  z-index: 100000;
}
.grow {
  background: none;
  border:1px solid #fff;
}

#header {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  z-index: 9999;
  @include flexBetween;
  &.fixed {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    .top_menu {
      display: none;
    }
  }
  .top_menu {
    ul {
      @include flexCenter;
      gap: 3.85vw;
      padding-right: 40px;
      li {
        flex-shrink: 0;
        a {
          display: block;
          padding: 40px 0;
          color: #F8F8F4;
          font-size: 0.83vw;
          &:hover {
            cursor: none;
          }
        }
      }
    }
  }
  .tit {
    position: relative;
    display: block;
    padding-left: 40px;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    z-index: 9999;
    transition: 0.3s;
  }
  .btn_menu {
    @include flexCenter;
    flex-direction: column;
    position: absolute;
    top:40px;
    right: 40px;
    gap: 8px;
    background:none;
    transition: 0.3s;
    z-index: 9999;
    &.active {
      span {
        background: #F8F8F4;
        &:nth-child(1) {
          transform: translateY(5px) rotate(-45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          transform: translateY(-5px) rotate(45deg);
        }
      }
    }
    span {
      height: 2px;
      width: 50px;
      background-color: #000;
      transition: 0.3s;
    }
  }
  .menu_wrap {
    @include flexCenter;
    position: absolute;
    top:0;
    left:0;
    display: none;
    width: 100vw;
    height: 100vh;
    background: #000;
    nav {
      ul {
        li {
          text-align: center;
          &+li {
            margin-top: 40px;
          }
          &:hover {
            a {
              position: relative;
              &::before {
                width: 100%;
              }
            }
          }
          a {
            position: relative;
            display: inline-block;
            color: #fff;
            font-size: 80px;
            &::before {
              position: absolute;
              left: 0;
              top: 45%;
              width: 0;
              height: 2px;
              background: #fff;
              transition: 0.3s;
              content: '';
            }
            span {
              @include en_sl;
              display: inline-block;
              margin-right: 10px;
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}
section {
  height:100vh;
}
.sec01 {
  position: relative;
  padding: 0 40px 40px;
  background: #000 url('../images/COLEO.png') no-repeat right bottom;
  background-size: 60%;
  .main_tit {
    padding-top:80px;
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }
  .caption { 
    position: absolute;
    right: 40px;
    bottom: 40px;
    text-align: right;
    p {
      color: #F8F8F4;
      font-size: 11px;
    }
  }
  .scroll {
    position: absolute;
    left: 40px;
    bottom: 0;
    @include flexCenter;
    gap: 20px;
    color: #F8F8F4;
    font-size: 16px;
    transform:rotate(-90deg);
    transform-origin: left bottom;
    .line {
      position: relative;
      width: 72px;
      height: 1px;
      background-color: #8a8a8a;
      &::before {
        position: absolute;
        width: 72px;
        height: 1px;
        background: #fffffe;
        animation-name: ani_scroll;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
        content: '';
      }
    }
  }
}

@keyframes ani_scroll {
  0% {
    width: 10%;
  }
  100% {
    width: 100%;
  }
}
  
.sec02 {
  position:relative; 
  background-color: #F8F8F4;
  overflow: hidden;
  .txt_box {
    position: relative;
    width: 100%;
    height: 100vh;
    .txt {
      position: absolute;
      top:50%;
      left:50%;
      width: 100%;
      transform: translate(-50%,-50%);
      color: #000;
      font-size: 80px;
      text-align: center;
      mix-blend-mode:hard-light;
      &.txt2 {
        opacity: 0;
      }
      span {
        @include en_sl;
      }
    }
  }
  .video_wrap {
    position: absolute;
    top:53%;
    right: 50%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    transform: translateX(395px);
    z-index: -1;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.sec03 {
  @include flexCenter;
  border: 10px solid red;
  height: auto;
  .inner {
    width: 100%;
    padding-top: 20.94vw;
    padding-bottom: 8.13vw;
    background-color: #F8F8F4;
  }
  .flow_txt {
    @include flexCenter;
    flex-direction: column;
    >strong {
      @include en;
      display: block;
      font-size: 5.83vw;
      font-weight: 100;
      color: #000;
      span {
        @include en_sl;
        font-size: 6.25vw;
      }
    }
    >div {
      @include en_sl;
      margin: 30px 0 0 200px;
      font-size: 2.45vw;
      color: #000;
    }
  }
  .works_noti {
    margin-top:200px;
    text-align: center;
    p {
      margin-top: 50px;
      font-size: 1.61vw;
      line-height: 2.08vw;
      color: #000000;
      text-align: center;
    }
    .btn_round {
      display: inline-block;
      padding: 10px 20px;
      margin-top: 50px;
      text-align: center;
      font-size: 30px;
      background: #F8F8F4;
      color: #000000;
      border: 0.07vw solid #000000;
      border-radius: 50px;
      transition: all .5s;
      &::after {
        content: '';
        display: inline-block;
        width: 0.75vw;
        height: 1.03vw;
        margin-left: 10px;
        background: url('../../resources/images/ico_arr_more.svg') no-repeat center center;
        background-size: 100% 100%;
      }
      &:hover {
        color: #fff;
        background: #000;
        &::after {
          background-color: #ccc;
          -webkit-mask-image: url('../../resources/images/ico_arr_more.svg') ;
          mask-image: url('../../resources/images/ico_arr_more.svg') ;
          -webkit-mask-size: cover;
          mask-size: cover;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          background-image: none;
        }
      }
    }
  }
}


.sec04 {
  border: 10px solid blue;
}
