#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  &.active {
    .wrap {
      h1.logo {
        a {
          background-color: #fff;
          -webkit-mask-image: url('../images/logo.svg');
          mask-image:url('../images/logo.svg');
          -webkit-mask-size: 332px auto;
          mask-size: 332px auto;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          background-image: none;
        }
      }
      .top_menu {
        li {
          &:hover {
            a{
              color: #000;
            }
          }
          a {
            color: #fff;
            border-color: #fff;
          }
          .hover_action {
            span {
              background: #fff;
            }
          }
        }
      }
    }
    .gnb_wrap {
      .btn_gnb {
        span {
          transform: translate3d(0, -100%, 0);
        }
      }
    }
    .gnb_menu_wrap .gnb {
      transform: translate3d(0,0,0);
      opacity: 1;
    }
  }
  .wrap {
    @include flexBetween;
    position: relative;
    padding: 20px 102px 20px 32px;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 100%;
      z-index: -1;
      opacity: 0;
      transition: 0.3s;
      content: '';
    }
    &.active {
      &::before {
        bottom: 0;
        background: #fff;
        opacity: 1;
      }
    }
    h1.logo {
      a {
        display: block;
        width: 332px;
        height: 48px;
        background-image:url('../images/logo.svg');
        background-size: cover;
      }
    }
    .top_menu {
      @include flex;
      gap: 20px; 
      >li {
        position: relative;
        height: 64px;
        overflow: hidden;
        border-radius: 30px;
        &:hover {
          a{
            color: #fff;
          }
          .hover_action {
            span {
              transform: translate3d(0, -100%, 0) scale(1.2);
            }
          }
        }
        a {
          position: relative;
          display: block;
          padding: 18px 28px;
          border: 1px solid #000;
          border-radius: 30px;
          color: #000;
          font-size: 1.8rem;
          font-weight: 700;
          letter-spacing: -0.63px;
          line-height: 2.6rem;
          text-align: center;
          transition: color 0.5s;
          z-index: 1;
        }
        .hover_action {
          @include flex;
          height: 100%;
          filter: url("#goo");
          span {
            display: block;
            width: 30%;
            height: 100%;
            background: #000;
            border-radius: 25px;
            transition: 0.5s;
            transform: translate3d(0, 0, 0);
            
            &:nth-child(1) {
              transition-delay:0s
            }
            &:nth-child(2) {
              transition-delay:0.08s
            }
            &:nth-child(3) {
              transition-delay:0.16s
            }
            &:nth-child(4) {
              transition-delay:0.24s
            }
          }
        }
      }
    }
  }
  .gnb_wrap {
    .btn_gnb {
      position: absolute;
      top: 32px;
      right: 32px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      overflow: hidden;
      background: none;
      span {
        display: block;
        width: 40px;
        height: 40px;
        transition: .3s;
        &:nth-child(1) {
          background: url('../images/ico_menu.png');
        }
        &:nth-child(2) {
          background: url('../images/ico_menu_close.svg');
        }
      }
    }
  }
  .gnb_menu_wrap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    &::before {
      position: absolute;
      inset: 0;
      background:rgba(48, 48, 48, 0.90);
      z-index: -1;
      content: '';
    }
    .gnb {
      @include flexCenter;
      width: 100%;
      height: 100%;
      font-family: "APHQ";
      opacity: 0;
      transform: translate3d(0,100px,0);
      transition: 1.5s;
      >ul {
        @include flex;
        gap: 80px;
        >li {
          text-align: center;
          cursor: pointer;
          color: #fff;
          opacity: 0.5;
          &:hover {
            opacity: 1;
          }
          >strong {
            font-size: 4.8rem;
            letter-spacing: -1.68px;
            font-weight: 500;
            line-height: 5.8rem;
            >span {
              display: block;
              margin-bottom: 40px;
              bottom: 38px;
              font-size: 2.4rem;
              letter-spacing: -0.6px;
              font-weight: 400;
              line-height: 2.4rem;
            }
          }
          >ul {
            margin-top: 40px;
            >li {
              a {
                font-size: 2.4rem;
                letter-spacing: 0.84px;
                font-weight: 400;
                line-height: 5.2rem;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
    .sns {
      @include flex;
      position: absolute;
      right: 40px;
      bottom:40px;
      gap: 10px;
      >a {
        width: 40px;
        height: 40px;
      }
    }
    .bg {
      position: absolute;
      inset:0;
      z-index: -2;
      >li {
        position: absolute;
        inset:0;
        opacity: 0;
        transition: 0.5s;
        &.active {
          opacity: 1;
        }
      }
    }
  }
}

#footer {
  padding: 60px 80px;
  background: #1F1F1F;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
}

//버튼
.btn_round {
  display: inline-block;
  padding: 10px 16px 10px 24px;
  font-size: 1.6rem;
  letter-spacing: -0.4px;
  line-height: 2.4rem;
  font-weight: 500;
  border-radius: 100px;
  color: #fff;
  background: #1f1f1f;
  &::after {
    display: inline-block;
    content: "";
    margin-left: 4px;
    width: 24px;
    height: 24px;
    vertical-align: top;
    background: url('../images/ico_24_next_on.svg') no-repeat center;
    background-size: 24px auto;
  }
  &:hover {
    color: #fff;
  }
}

//카운트
.count_wrap {
  @include flexCenter;
  margin-top: 100px;
  &.type2 {
    li {
      color: #000;
      &+li {
        div {
          &::before {
            background: #DBDBDB;
          }
        }
      }
    }
  }
  li {
    width: 25%;
    color: #fff;
    text-align: center;
    &+li {
      div {
        &::before {
          display: block;
          content: "";
          width: 1px;
          height: 50px;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          background: rgba(241, 241, 241, 0.4);
        }
      }
    }
    div {
      position: relative;
      font-size: 2.4rem;
      line-height: 3.6rem;
      
      span {
        font-family: "APHQ";
        font-size: 8.8rem;
        font-weight: 700;
        line-height: 12.4rem;
      }
    }
    em {
      margin-top: 30px;
      font-size: 2.2rem;
      letter-spacing: -0.55px;
      line-height: 3.3rem;
    }
  }
}

//about cont
.about_cont {
  position: relative;
  padding: 120px 0;
  .sec_tit {
    font-size: 6.2rem;
    letter-spacing: -1.55px;
    font-weight: 700;
    color: #1F1F1F;
    opacity: 0;
  }
  .tit_txt {
    margin: 12px 0 140px;
    font-size: 2rem;
    letter-spacing: -0.5px;
    line-height: 3.2rem;
    font-weight: 400;
    color: #1f1f1f;
  }
  .bg_logo {
    @include flexCenter;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
    &.active {
      opacity: 1
    }
  }
  .desc {
    > li {
      @include flexCenter;
      gap: 200px;
      padding-left: 10.26%;
      &+li {
        margin-top: 120px;
      }
      &:nth-child(even) {
        padding: 0 10.26% 0 0;
        flex-direction: row-reverse;
      }
      &:nth-child(3) {
        .imgbox {
          width: 480px;
          .img {
            clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%, 0 15%)
          }
        }
      }
      .imgbox {
        position: relative;
        &.set {
          .img:nth-child(1) {
            position: absolute;
            top: 15%;
            right:0;
            width: 380px;
            height: 500px;
            clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%, 0 15%);
            z-index: 1;
          }
          .img:nth-child(2) {
            width: 500px;
            height: 650px;
            img {
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
      .txtbox {
        width: 38.21%;
        .tit {
          display: block;
          font-size: 5.4rem;
          letter-spacing: -1.89px;
          line-height: 7.4rem;
          font-weight: 700;
        }
        .txt {
          margin-top: 25px;
          font-size: 2.2rem;
          letter-spacing: -0.77px;
          line-height: 3.8rem;
        }
      }
      .imgbox {
        flex-shrink: 0;
        width: 600px;
        .img {
          position: relative;
          overflow: hidden;
          clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%, 0 15%);
          img {
            height: auto;
            object-fit: contain;
            &.item {
              transform: translateY(-50px);
              &.active {
                transform: translateY(-10px);
              }
            }
          }
          .tag {
            position: absolute;
            left: 20px;
            bottom: 20px;
            font-size: 1.6rem;
            line-height: 2.6rem;
            font-weight: 500;
            color: #fff;
          }
        }
      }
    }
  }
}

//ir cont
.ir_cont {
  .item {
    transform: translateY(100px);
    transition: 1s;
    &.active {
      transform: translateY(0);
    }
  }
}


//flow text
.flow_text {
  @include flex;
  overflow: hidden;
  .flow_wrap {
    white-space: nowrap;
    transition: 0.3s;
    font-size: 16rem;
    line-height: 13.8rem;
    font-weight: 700;
    letter-spacing: 4.8px;
    color: #D2A892;
    animation: flowTxt 30s linear infinite;
  }
}
@keyframes flowTxt {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}


//video
.video_wrap {
  .video_cont {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #000;
    padding-top: 56.25%;
    &.active {
      .videoPoster {
        opacity: 0;
        height: 0;
        transition-delay: 0s, 800ms;
      }
    }
    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
  }  
  .videoPoster {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image:url('../images/img_youtube.png');
    background-size: 100%;
    border: none;
    text-indent: -999em;
    overflow: hidden;
    opacity: 1;
    transition: opacity 800ms, height 0s;
    transition-delay: 0s, 0s;
    &:hover {
      cursor: pointer;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 80px;
      height: 80px;
      margin: -40px 0 0 -40px;
      border: 5px solid #fff;
      border-radius: 100%;
      transition: border-color 300ms;
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      margin: -20px 0 0 -10px;
      border-left: 40px solid #fff;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      transition: border-color 300ms;
    } 
  }
}


//section
section {
  max-width: 1920px;
  margin: 0 auto;
  &.wide {
    max-width: 100%;
  }
  .wrap {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 190px;
  }
}

.main {
  .top_wrap {
    position: relative;
    .drawing_logo {
      position: absolute;
      inset:0;
      z-index: 2;
      @include flexCenter;
    }
    .visual_list {
      position: relative;
      height: 100vh;
      overflow: hidden;
      li {
        position: relative;
        width: 100%;
        height: 100%;
        .wrap {
          height: 100vh;
          padding: 0;
          img {
            transition: 0.7s;
          }
          .txt_box {
            position: absolute;
            left:10%;
            bottom:5.5%;
            color: #fff;
            text-shadow: 1px 1px 1px rgba(31,31,31,0.2);
            transition: 0.7s;
            .desc {
              margin-bottom: 40px;
              font-size: 3.2rem;
              line-height: 4.2rem;
              letter-spacing: -0.8px;
              opacity: 0;
              transition: 1s;
            }
            .name {
              font-size: 1.8rem;
              letter-spacing: -0.6px;
              line-height: 2.5rem;
              opacity: 0.8;
            }
            .tag {
              margin-top: 5px;
              font-size: 2.8rem;
              letter-spacing: -1px;
              line-height: 4rem;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  .sec02 {
    padding: 150px 0 204px;
    background: linear-gradient(rgba(48, 48, 48, 0.8), rgba(48, 48, 48, 0.8)), url("../images/bg_counter.png") no-repeat center;
    background-size: cover;
    .txt {
      font-size: 4.2rem;
      letter-spacing: -1.47px;
      line-height: 62px;
      text-align: center;
      font-weight: 500;
      color: #fff;
    }
  }
  .sec03 {
    padding: 140px 80px;
    .tit {
      font-family: "APHQ";
      font-size: 4.2rem;
      line-height: 5.9rem;
      letter-spacing: -1.05px;
      color: #1F1F1F;
    }
    .txt {
      margin-top: 10px;
      font-size: 1.8rem;
      line-height: 2.3rem;
      letter-spacing: -0.45px;
      color: #303030;
    }
    .view4_swiper{
      margin-top: 40px;
      .button_prev, 
      .button_next {
        left: 0;
        width: 50px;
        height: 50px;
        font-size: 0;
        background: url('../images/btn-arrow-prev.svg') center / contain no-repeat;
        cursor: pointer;
        &::after {
          display: none;
        }
      }
      .button_next {
        left: auto;
        right: 0;
        transform: rotate(180deg);
      }
      .swiper-button-disabled {
        opacity: 0;
      }
    }
  }
  .sec04 {
    position: relative;
    &::before {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height:60%;
      background: #ffe8e6;
      content:'';
    }
    .flow_text {
      padding-top: 70px;
      .flow_wrap {
        opacity: 0.3;
      }
    }
    .video_wrap {
      padding: 105px 80px 120px;
    }
  }
}

@media screen and (min-width: 769px) {
  .main {
    .top_wrap {
      .visual_list {
        li {
          position: absolute;
          width: 45%;
          height: 100%;
          transition: 0.7s;
          &:hover {
            .wrap {
              .txt_box {
                left: 25%;
                .desc {
                  opacity: 1;
                  transform: translateY(-50%);
                }
              }
            }
          }
          &.vs01 {
            clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%);
            top:0;
            left: -6%;
            &:hover {
              .wrap {
                img {
                  transform: translateX(3%) scale(1.1);
                }
                .txt_box {
                  left: 25%;
                }
              }
            }
            .wrap {
              .txt_box {
                left: 20%;
              }
            }
          }
          &.vs02 {
            top:0;
            left: 50%;
            transform: translateX(-50%);
            clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
            z-index: 1;
            &:hover {
              width: 52%;
              .wrap {
                img {
                  transform: translateX(-3%) scale(1.1);
                }
                .txt_box {
                  left: 20%;
                }
              }
            }
    
          }
          &.vs03 {
            top:0;
            right:-6%;
            clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
            &:hover {
              .wrap {
                img {
                  transform: translateX(-3%) scale(1.1);
                }
                .txt_box {
                  left: 15%;
                }
              }
            }
          }
          .wrap {
            height: 100vh;
            padding: 0;
            img {
              transition: 0.7s;
            }
            .txt_box {
              position: absolute;
              left:10%;
              bottom:5.5%;
              color: #fff;
              text-shadow: 1px 1px 1px rgba(31,31,31,0.2);
              transition: 0.7s;
              .desc {
                margin-bottom: 40px;
                font-size: 3.2rem;
                line-height: 4.2rem;
                letter-spacing: -0.8px;
                opacity: 0;
                transition: 1s;
              }
              .name {
                font-size: 1.8rem;
                letter-spacing: -0.6px;
                line-height: 2.5rem;
                opacity: 0.8;
              }
              .tag {
                margin-top: 5px;
                font-size: 2.8rem;
                letter-spacing: -1px;
                line-height: 4rem;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}

.sub {
  #header {
    border-bottom: 1px solid #E5E5E5;
  }
  .location {
    @include flex;
    gap:18px;
    position: absolute;
    align-items: center;
    top: 40px;
    left:0;
    max-width: 1920px;
    width: 100%;
    padding: 0 190px;
    z-index: 2;
    >li {
      font-size: 1.6rem;
      font-weight: 500;
      &.home {
        >a {
          display: inline-block;
          width: 24px;
          height: 24px;
        }
      }
      &+li {
        padding-left: 32px;
        background: url('../images/ico_location_arr.svg') left center / 16px no-repeat;
      }
    }
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    background: transparent;
    border: 1px solid #666;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: #666;
  }

  .sub_cont {
    position: relative;
    margin-top: 104px;
  }
  .sub1 {
    .sub_top {
      width: 100%;
      height: calc(100vh - 104px);
      background: url('../images/bg_about_counselor.png') no-repeat;
      background-size: cover;
      .counselor_swiper {
        width: 100%;
        height: 100%;
        padding: 0 190px;
        .swiper-slide-active {
          .txtbox {
            transform: translateY(-50%);
          }
          .imgbox {
            .img1 {
              right: 30%;
            }
            .img2 {
              right:0;
            }
            .img3 {
              right: 0;
            }
          }
        }
        .txtbox {
          position: absolute;
          top: 50%;
          transform: translateY(-42%);
          width: 60%;
          color: #1f1f1f;
          transition: 1s;
          z-index: 1;
          >strong {
            font-size: 5.4rem;
            letter-spacing: -1.89px;
            font-weight: 700;
            line-height: 7.4rem;
          }
          >p {
            margin-top: 23px;
            font-size: 2rem;
            letter-spacing: -0.7px;
            line-height: 3.2rem;
            font-weight: 400;
          }
          .btn_round {
            margin-top: 24px;
          }
        }
        .imgbox {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          >span {
            position: absolute;
            bottom: 0;
            right: -100px;
            transition: 1s;
          }
          .img1 {
            width: 480px;
            right:33%;
          }
          .img2 {
            width: 600px;
          }
          .img3 {
            width: 430px;
          }
        }
      }
    }
    .sec01 {
      padding: 120px 0;
      .txt {
        font-size: 3.2rem;
        letter-spacing: -1.12px;
        line-height: 4.2rem;
        text-align: center;
        font-weight: 700;
        color: #1f1f1f;
      }
      .count_wrap {
        margin-top: 40px;
        li {
          div {
            font-size: 3.2rem;
            line-height: 4.7rem;
            span {
              font-size: 14rem;
              line-height: 16.8rem;
            }
          }
          em {
            font-size: 2rem;
            letter-spacing: -0.7px;
            font-weight: 500;
            line-height: 3.2rem;
            color: #666;
          }
        } 
      }
    }
    .sec02 {
      position: relative;
      &::before {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 1px;;
        background: #DBDBDB;
        position: absolute;
        top: 0;
        left: 50%;
        width: calc(100% - 190px);
        height: 1px;
        background: #DBDBDB;
        transform: translateX(-50%);
        content: '';
      }
    }
    .sec03 {
      background: #F5F5F5;
      .wrap {
        padding: 80px 190px;
      }
      .tit {
        font-size: 5.4rem;
        letter-spacing: -1.35px;
        font-weight: 700;
        line-height: 7.4rem;
        color: #1F1F1F;
      }
      .tit_txt {
        margin-top: 15px;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: -0.45px;
        line-height: 2.7rem;
        color: #666;
      }
      .amorelogo {
        margin-top: 40px;
        width: 100%;
        padding: 120px 0;
        text-align: center;
        background: #fff;
        img {
          width: 60%;
        }
      }
      .desc_wrap {
        margin-top: 40px;
        >div {
          @include flex;
          &+div {
            margin-top: 80px;
          }
          >strong {
            flex-shrink: 0;
            width: 25%;
            font-family: "Poppins", sans-serif !important;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 2.6rem;
            color: #1f1f1f;
          }
          &.desc {
            >p {
              font-size: 2rem;
              letter-spacing: -0.7px;
              line-height: 3.2rem;
              color: #1f1f1f;
            }
          }
          &.bi_cont {
            >ul {
              @include flexBetween;
              flex-wrap: wrap;
              row-gap: 40px;
              width: 100%;
              >li {
                width: calc(50% - 20px);
                &:nth-child(2) {
                  .bi {
                    background:#443635;
                    span {
                      background: #F5C2CB;
                    }
                  }
                }
                &:nth-child(3) {
                  .bi {
                    background:#000;
                    span {
                      background: #fff;
                    }
                  }
                }
                &:nth-child(4) {
                  .bi {
                    background:#fff;
                    span {
                      background: #000;
                    }
                  }
                }
                .bi {
                  width: 100%;
                  padding: 24px 0;
                  text-align: center;
                  background: #F5C2CB;
                  span {
                    display: block;
                    width: auto;
                    height: 45px;
                    margin-top: 0;
                    background-color: #443635;
                    -webkit-mask-image: url('../images/logo.svg');
                    mask-image:url('../images/logo.svg');
                    -webkit-mask-size: contain;
                    mask-size: contain;
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    mask-position: center;
                    background-image: none;
                  }
                }
                span {
                  display: block;
                  margin-top: 16px;
                  font-family: "Poppins", sans-serif !important;
                  font-size: 1.6rem;
                  line-height: 2.4rem;
                  color: #1f1f1f;
                }
              }
            }
          }
        }
      }
    }
  }
  .sub2 {
    .top_video {
      width: 100%;
      height: 100vh;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .sec01 {
      background: #000;
      .flow_text {
        .flow_wrap {
          padding-right: 5.2vw;
          color: #fff;
          font-size: 6rem;
          font-family: "APHQ";
          line-height: 12rem;
        }
      }
      .wrap {
        margin-top: 120px;
        padding-bottom: 200px;
        >div {
          @include flex;
          gap: 7%;
          &+div {
            margin-top: 300px;
          }
          >div {
            width: 50%;
          }
          &:first-child {
            .img {
              position: relative;
              &::before {
                position: absolute;
                top: -10px;
                left: -10px;
                width: 100%;
                height: 100%;
                background-color: #ff5f23;
                border-radius: 50px;
                content: '';
              }
              img {
                position: relative;
                border-radius: 50px;
                overflow: hidden;
              }
            }
          }
          &:nth-child(2) {
            flex-direction: row-reverse;
            .img {
              margin-top: -150px;
            }
          }
          .desc {
            color: #fff;
            strong {
              display: block;
              font-size: 10rem;
              font-family: "APHQ";
              line-height: 12rem;
            }
            .txt {
              padding-top: 60px;
              margin-top: 50px;
              border-top:1px solid #fff;
              font-size: 2.8rem;
              font-family: 'Pretendard';
              line-height: 4rem;
              letter-spacing: 0;
            }
          }
        }
      }
    }
    .sec02 {
      padding-bottom: 100px;
      background: url('../images/txt_aditor.png') no-repeat center 1%;
      background-size: 95%;
      >strong {
        display: block;
        padding: 125px 0;
        text-align: center;
        font-family: 'pretendard';
        font-size: 7rem;
        font-weight: 400;
        line-height: 9rem;
        span {
          font-weight: 700;
        }
      }
      .flexlist {
        >li {
          &:nth-child(even) {
            .flexbox {
              flex-direction: row-reverse;
              gap:6%;
            }
            .top {
              .video_wrap {
                &::before {
                  top:auto;
                  left:-15px;
                  right: auto;
                  bottom: -15px;
                }
                &::after {
                  top:auto;
                  left: auto;
                  right: 15px;
                  bottom: -15px;
                  line-height: 84px;
                  background: url("../images/interview_bg2.png") no-repeat center center/contain;
                }
              }
            }
          }
          &:nth-child(2) {
            .top {
              .video_wrap {
                .videoPoster {
                  background-image:url('../images/story_video02.jpg');
                }
              }
            }
          }
          &:nth-child(3) {
            .top {
              .video_wrap {
                .videoPoster {
                  background-image:url('../images/story_video03.jpg');
                }
              }
            }
          }
          &+li {
            margin-top: 200px;
          }
          .top {
            >div {
              width: 50%;
            }
            .desc {
              >em {
                display: block;
                position: relative;
                padding-left: 30px;
                margin-bottom: 70px;
                font-family: 'pretendard';
                font-weight: 700;
                font-size: 4.4rem;
                line-height: 6rem;
                &::before {
                  position: absolute;
                  display: block;
                  width: 12px;
                  height: 100%;
                  margin: 0;
                  top: 0;
                  left: 0;
                  background-color: #ff5f23;
                  content: '';
                }
              }
              >p {
                padding-left: 30px;
                margin-top: 0;
                font-size: 2.8rem;
                font-family: 'Pretendard';
                line-height: 4rem;
                letter-spacing: 0;
              }
            }
            .video_wrap {
              position: relative;
              &::before {
                position: absolute;
                top:-15px;
                right:-15px;
                width:100%;
                height: 100%;
                background-color: #ff5f23;
                content: '';
              }
              &::after {
                position: absolute;
                top:-15px;
                left:15px;
                width: 198px;
                height: 84px;
                background: url('../images/interview_bg.png') no-repeat center center / contain;
                font-size: 2.8rem;
                font-family: 'pretendard';
                color: #fff;
                text-align: center;
                line-height: 70px;
                content: 'Interview';
              }
              .videoPoster {
                background-image:url('../images/story_video01.jpg');
              }
            }
          }
          .img_list {
            margin-top: 200px;
            padding: 0 100px;
            gap:100px;
          }
        }
      }
    }
    .sec03 {
      background: #000;
      padding: 250px 0;
      text-align: center;
      .benefits {
        margin-top: 100px;
        padding: 0 160px 90px 160px;
        >ul {
          max-height: 527px;
          height: 100%;
          padding: 40px 0;
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
          gap:0;
          >li {
            @include flexCenter;
            flex-direction: column;
            align-self: stretch;
            flex: 1;
            width: 25%;
            min-height: 100%;
            padding: 0 40px;
            text-align: center;
            &+li {
              border-left: 1px solid #fff;
            }
            .txt {
              margin-top: 50px;
              font-family: 'pretendard';
              font-size: 3rem;
              line-height: 4rem;
              color: #fff;
            }
          }
        }
        
      }
      >.txt1 {
        margin: 120px 0 180px 0;
        text-align: center;
        font-family: 'pretendard';
        font-size: 2.8rem;
        line-height: 5rem;
        color: #fff;
      }
      >.img_txt {
        display: block;
        margin: 20px 0 100px 0;
        font-size: 4rem;
        font-family: 'APHQ';
        line-height: 1;
        color: #424242;
        text-align: left;
      }
      .rigth_txt {
        text-align: right;
        em {
          display: block;
          margin-bottom: 40px;
          font-size: 2.8rem;
          font-weight: 400;
          color: #ff6700;
        }
        p {
          font-family: 'pretendard';
          font-size: 2.8rem;
          line-height: 5rem;
          color: #777;
        }
      }
    }
    .sec04 {
      padding: 150px 0;
      text-align: center;
      .tit_txt {
        margin: 40px 0 125px 0;
        font-family: 'Pretendard';
        font-size: 2.8rem;
        font-weight: 400;
        color: #000;
        text-align: center;
      }
      .txt1 {
        margin-top: 150px;
        font-size: 2.8rem;
        color: #777;
        text-align: center;
        font-family: 'pretendard';
      }
      .brands {
        margin-top: 100px;
      }
      .swiper-slide {
        em {
          display: block;
          margin: 20px 0 10px 0;
          font-family: 'pretendard';
          font-size: 2.4rem;
          color: #000;
          line-height: 1.2;
        }
        .tag {
          font-family: 'pretendard';
          font-size: 1.8rem;
          color: #7c7c7c;
        }
      }
      .swiper-button-prev, 
      .swiper-button-next {
        width: 60px;
        height: 120px;
        margin-top: -60px !important;
        background-color: #e5e5e5;
        background-image: none;
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
      }
      .swiper-button-prev {
        left: 0;
        transform: rotate(-180deg);
      } 
      .swiper-button-next {
        right: 0;
      }
    }
    .sec05 {
      text-align: center;
      background: #000;
      padding: 200px 0 0;
      .brands {
        flex-wrap: wrap;
        margin-top: 100px;
        >li {
          width: 25%;
          height:150px;
          padding: 0 20px;
          border-bottom: 1px solid #fff;
          &+li {
            border-left: 1px solid #fff;
          }
          &:nth-child(4n+1) {
            border-left: 0;
          }
          &:nth-last-child(1),
          &:nth-last-child(2),
          &:nth-last-child(3),
          &:nth-last-child(4) {
            border-bottom: 0;
          }
          img {
            object-fit: contain;
          }
        }
      }
      .txt {
        margin-top: 100px;
        padding-bottom: 90px;
        font-family: 'Pretendard';
        font-size: 2.8rem;
        color: #777;
        text-align: center;
        border-bottom: 1px solid #fff;
      }
      .recruit {
        padding: 300px 0 400px;
        background: url('../images/aditor_job_img.png') no-repeat right center;
        background-size: 45%;
        text-align: left;
        >strong {
          font-family: "APHQ";
          font-size: 7rem;
          line-height: 9.4rem;
          color: #fff;
          span {
            font-family: "APHQ";
            font-size: 7rem;
            color: #ff6700;
          }
        }
        >em {
          display: block;
          padding: 35px 0 10px 0;
          font-family: "APHQ";
          font-size: 3.8rem;
          color: #fff;
        }
        >p {
          font-family: 'Pretendard';
          font-size: 1.8rem;
          color: #777;
        }
        .bottom {
          display: inline-block;
          font-family: 'Pretendard';
          font-size: 1.8rem;
          color: #777;
          padding: 90px 160px 0 0;
          text-align: center;
          >p {
            font-family: 'Pretendard';
            font-size: 3rem;
            font-weight: 700;
            color: #fff;
          }
          .app {
            @include flex;
            gap: 50px;
            margin-top: 50px; 
            a {
              width: 270px;
            }
            
          }
        }
        .sns{
          position: absolute;
          bottom: 100px;
          left: 50%;
          transform: translateX(-50%);
          @include flex;
          gap: 50px;
          > li {
            width:35px;
          }
        }

      }
    }
  }

}

//flex box
.flexbox {
  @include flexCenter;
  // gap: 3%;
}

//tit
.tit_round {
  display: inline-block;
  margin: 0 auto;
  padding: 20px 45px 15px 45px;
  background-color: #ff6700;
  border-radius: 100px;
  font-family: "APHQ";
  font-size: 7.6rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  color: #fff;
  span {
    display: block;
    margin-top: 10px;
    font-size: 1.8rem;
    font-family: 'Pretendard';
    font-weight: 300;
  }
}


.footer {background:#1F1F1F}
.footer_wrap {display:block;padding:60px 190px;max-width:1920px;margin:0 auto;position:relative;}
.footer_wrap:after {display:block;content:"";clear:both;}
.footer_logo {position:absolute;top:60px;left:190px;width:332px}
.footer_logo img {vertical-align:top;width:332px;}
.footer_cnt {padding-left:30.779%}
.footer_link {display:flex;}
.footer_link li {position:relative;}
.footer_link li:before {display:block;content:"";width:1px;height:12px;position:absolute;top:50%;left:0;transform:translateY(-50%);background:#444}
.footer_link li:first-child:before {content:none}
.footer_link li:first-child > a {padding-left:0}
.footer_link li.f_privacy {font-weight:700}
.footer_link li:last-child > a {padding-right:0}
.footer_link li > a {font-size:1.4rem;padding:0 15px;line-height:1.6rem;letter-spacing:-0.5px;color:#fff}
.footer_link li br {display: none;}
.footer address {margin-top:24px}
.footer .address_cnt dt {font-size:1.6rem;letter-spacing:-0.32px;line-height:2.4rem;font-weight:500;color:#999}
.footer .address_cnt dd {margin-top:8px;font-size:1.6rem;line-height:2.4rem;letter-spacing:-0.56px;color:#999}
.footer .copyright {margin-top:8px;font-family:"APHQ";font-size:1.6rem;line-height:2.4rem;color:#999}
.footer .footer_sns {display:flex;margin-top:15px;}
.footer .footer_sns li {width:36px;height:36px;margin-left:8px}
.footer .footer_sns li:first-child {margin-left:0}
.footer .family_site {width:267px;min-width:267px;position:absolute;bottom:112px;right:190px;height:56px}
.footer .family_site .family_tit {box-sizing:border-box;height:56px;padding:16px 64px 16px 20px;border:1px solid #585858;font-size:1.6rem;line-height:2.4rem;letter-spacing:0.56px;font-weight:700;color:#fff}
.footer .family_site .family_tit:after {display:block;content:"";width:24px;height:24px;position:absolute;bottom:16px;right:20px;background:url("../images/ico_arr_white.svg") no-repeat center;background-size:24px auto;}
.footer .family_site .family_site_btn {position:absolute;top:0;left:0;right:0;bottom:0;font-size:0;color:transparent;text-indent:-9999px;}
.footer .family_site .family_list {display:none;width:100%;position:absolute;padding:24px 20px 25px;bottom:56px;border:1px solid #1A1818;border-bottom:none;background:#fff}
.footer .family_site .family_list:before {display:block;content:"";position:absolute;bottom:0;left:50%;transform:translateX(-50%);width:calc(100% - 40px);height:1px;background:#E5E5E5}
.footer .family_site .family_list a {display:block;width:100%;font-size:1.6rem;line-height:2.8rem;letter-spacing:-0.56px;font-weight:500;color:#585858}
.footer .family_site.on {background:#fff}
.footer .family_site.on .family_tit:after {transform:rotate(180deg);background:url("../images/ico_arr_black.svg") no-repeat center;}
.footer .family_site.on .family_tit {border:1px solid #1A1818;border-top:none;background:#fff;color:#1F1F1F}
.footer .family_site.on .family_list {display:block}
/* 20240411 추가 */
.footer .f_plus_lnk{display:flex; margin-top:8px; font-size:1.6rem; color:#999; line-height:2.4rem;}
.footer .f_plus_lnk li{position:relative;}
.footer .f_plus_lnk li::after{display:block; content:''; position:absolute; top:54%; right:4px; transform:translateY(-50%); width:1px; height:12px; background-color:#999;}
.footer .f_plus_lnk li:last-child::after{display:none;}
.footer .f_plus_lnk li a{display:inline-block; padding-right:10px;}
.footer .f_plus_lnk li:last-child a{padding-right:0;}


@media screen and (max-width: 768px) {
  #wrap {
    overflow: hidden;
  }
  #header {
    &.active  {
      .wrap  {
        h1 {
          &.logo {
            a {
              mask-size: 222px auto;
            }
          }
        }
      }
    }
    .wrap {
      padding-right: 70px;
      h1 {
        &.logo {
          a {
            width: 38px;
            height: 32px;
            background-size: 222px;
          }
        }
      }
      .top_menu {
        >li {
          height: 46px;
          a {
            padding: 9px 25px;
            font-size: 1.4rem;
          }
        }
        li:not(:first-child) {
          display: none;
        }
      }
    }
    .gnb_wrap {
      .btn_gnb {
        top: 24px;
        right: 24px;
      }
      
    }
    .gnb_menu_wrap {
      .gnb {
        padding: 30px;
        > ul {
          display: block;
          >li {
            &+li {
              margin-top: 30px;
            }
            strong {
              display: block;
              font-size: 2.2rem;
              letter-spacing: 0.77px;
              line-height: 3.4rem;
              text-align: left;
              >span {
                font-size: 1.6rem;
                letter-spacing: -0.4px;
                line-height: 2.4rem;
                margin-bottom: 0;
              }
            }
            > ul {
              display: flex;
              margin-top: 20px;
              >li {
                a {
                  font-size: 1.6rem;
                  line-height: 1.9rem;
                  letter-spacing: -0.56px;
                  position: relative;
                  padding: 0 16px 0 17px;
                }
                &+li {
                  &::before {
                    display: inline-block;
                    width: 1px;
                    height:12px;
                    background: #fff;
                    content: '';
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .main {
    .top_wrap {
      .visual_list {
        overflow: visible;
        li {
          .wrap {
            .txt_box {
              .desc {
                opacity: 1;
                font-size: 2.2rem;
                letter-spacing: -0.77px;
                line-height: 3.2rem;
              }
              .tag {
                font-size: 1.6rem;
                letter-spacing: -0.56px;
                line-height: 3.2rem;
              }
            }
          }
        }
      }
      .drawing_logo {
        svg {
          width: 60%;
        }
      }
    }
    .wrap {
      max-width: 100%;
      padding: 0;
      .txt {
        font-size: 2.4rem;
        letter-spacing: -0.84px;
        line-height: 3.2rem;
      }
    }
    .sec02 {
      padding: 60px 20px 60px;
    }
    .sec03 {
      padding: 60px 20px 60px;
      .tit {
        font-size: 2.4rem;
        letter-spacing: -0.6px;
        line-height: 3.4rem;
      }
      .txt {
        margin-top: 4px;
        font-size: 1.4rem;
        letter-spacing: -0.35px;
        line-height: 2.4rem;
      }
      .view4_swiper  {
        margin-top: 16px;
        [class^="swiper-button"] {
          display: none;
        }
      }
    }
    .sec04  {
      .flow_text {
        padding-top: 0;
        .flow_wrap {
          font-size: 5rem;
          line-height: 1;
          animation-duration: 10s;
        }
      }
      .video_wrap {
        padding: 30px 20px 60px;
        .videoPoster {
          &::before {
            width: 40px;
            height: 40px;
          }
          &::after {
            margin: -24px 0 0 -20px;
            border-left: 15px solid #fff;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
          }
        }
      }
    }
  }
  .count_wrap {
    display: block;
    margin-top: 0px;
    li {
      width: 100%;
      .num {
        padding-top: 40px;
        &::before {
          width: 50px;
          height: 1px;
          top:0;
          left: 50%;
          transform: translate(-50%,0);
        }
      }
      em {
        margin-top: 8px;
        font-size: 1.6rem;
        letter-spacing: -0.56px;
        line-height: 2.6rem;
      }
      &+li {
        margin-top: 40px;
      }
      div {
        font-size: 1.6rem;
        letter-spacing: 0;
        line-height: 2.6rem;
        span {
          font-size: 5.4rem;
          letter-spacing: 0;
          line-height: 6.15rem;
        }
      }
    }
  }
  .top_slide {
    .swiper-pagination {
      bottom: 20px;
      span {
        background: none;
        border: 1px solid #fff;
        opacity: 1;
        &.swiper-pagination-bullet-active {
          background-color: #fff;
        }
      }
    }
  }
  .ir_cont .item {
    transform: translateY(0px);
  }
  .about_cont {
    padding: 60px 20px;
    .wrap {
      width: 100%;
      padding: 0;
      .sec_tit {
        font-size: 3.2rem;
        line-height: 4.2rem;
        opacity: 1;
      }
    }
    .desc {
      margin-top: 40px;
      >li {
        display: block;
        padding: 0;
        gap: 0;
        &:nth-child(even) {
          padding-right: 0;
        }
        &+li {
          margin-top: 40px;
        }
        &:nth-child(3) .imgbox {
          width: 100%;
        }
        .txtbox  {
          width: 100%;
          .tit {
            font-size: 2.4rem;
            letter-spacing: -0.84px;
            line-height: 3.2rem;
          }
          .txt{
            opacity: 1;
            margin-top: 7px;
            font-size: 1.6rem;
            letter-spacing: -0.56px;
            line-height: 2.4rem;
          }
        }
        .imgbox {
          width: 100%;
          margin-top: 20px;
          .img {
            position: static;
              width: 100%;
          }
          &.set {
            .img {
              
              &:nth-child(1) {
                position: static;
                width: 100%;
              }
              &:nth-child(2) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .section {
    max-width: 100%;
  }
  .sub {
    .location {
      display: none;
    }
    .sub_top {
      height: 100%;
    }
    .sub_cont  {
      margin-top: 86px;
    }
    .sub1  {
      .sub_top{
        height: calc(100vh - 86px);
        .counselor_swiper {
          padding: 0;
          .swiper-slide-active {
            .txtbox {
              padding: 20px;
              width: 100%;
              top:0;
              transform: translateY(0);
              >strong {
                font-size: 3.2rem;
                letter-spacing: -1.12px;
                line-height: 4.2rem; 
              }
              >p {
                margin-top: 7px;
                font-size: 1.5rem;
                letter-spacing: -0.56px;
                line-height: 2.6rem;
              }
            }
            .imgbox {
              .img1 {
                width: 55%;
                right: 40%;
              }
              .img2 {
                width: 60%;
                right: 10%;
              }
            }
          }
        }
      }
      .sec01 {
        padding: 40px 0;
        .txt {
          font-size: 2.4rem;
          letter-spacing: -0.84px;
          line-height: 3.2rem;
          text-align: center;
          font-weight: 700;
          color: #1f1f1f;
        }
        .count_wrap  {
          width: 100%;
          margin-top: 23px;
          li {
            .num {
              font-size: 1.6rem;
              line-height: 2.4rem;
              span {
                font-size: 5.4rem;
                line-height: 6.5rem;
              }
            }
            em {
              margin-top: 8px;
              font-size: 1.6rem;
              letter-spacing: -0.56px;
              line-height: 2.4rem;
            }
          }
        }
      }
      .sec02 {
        padding: 40px 20px;
        
      }
      .sec03 {
        .wrap {
          max-width: 100%;
          padding: 40px 20px;
          .tit {
            font-size: 3.2rem;
            letter-spacing: -0.8px;
            line-height: 4.2rem;
          }
          .tit_txt {
            margin-top: 3px;
            font-size: 1.6rem;
            letter-spacing: -0.56px;
            line-height: 2.4rem;
          }
        }
        .amorelogo {
          padding: 40px 20px;
          img {
            width: 80%;
          }
        }
        .desc_wrap {
          
          .desc {
            display: block;
            strong {
              width: 100%;
              display: block;
              margin-bottom: 20px;
            }
          }
          >div {
            display: block;
            >strong {
              display: block;
              width: 100%;
              margin-bottom: 20px;
            }
            &.desc {
              p {
                font-size: 1.8rem;
                letter-spacing: -0.63px;
                line-height: 2.6rem;
              }
            }
            &.bi_cont {
              >ul {
                display: block;
                li {
                  width: 100%;
                  &+li {
                    margin-top: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .about_cont  {
    .tit_txt {
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-top: 3px;
      margin-bottom: 40px;
      letter-spacing: -0.56px;
      opacity: 1;
    }
    .desc > li .imgbox .img img.item {
      transform: translateY(0px);
    }
  }

  .footer_link li br {display: block;}
  .footer_link{flex-wrap: wrap; row-gap:16px;}
  .footer_link li > a {padding: 0 10px;}
  .footer_wrap {padding:24px 20px 106px}
  .footer_logo {display:none}
  .footer_cnt {padding-left:0;float:none}
  .footer .copyright {font-size:1.4rem;margin-top:6px}
  .footer .family_site {position:relative;right:auto;bottom:auto;min-width:100%;margin-top:24px;}
  .footer .address_cnt dt {font-size:1.4rem;letter-spacing:-0.28px;line-height:2.4rem}
  .footer .address_cnt dd {margin-top:6px;font-size:1.4rem;letter-spacing:-0.49px;line-height:2.4rem}
  .footer .f_plus_lnk{font-size:1.4rem; letter-spacing:-0.28px;line-height:2.4rem;}
  
}
