@charset "utf-8";


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
address, em, i {font-style: normal;}
button {background: none; border: none;}
img {vertical-align: middle;}

/* 영어폰트 */
.en {font-family: "Public Sans", sans-serif;}
.en2 {font-family: "Cormorant Infant", serif;}

/* layout */
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

.wrap {
  position: relative;
  margin: 0 auto 3000px;
  overflow: hidden;
  background: #000;
  color: #fff;
}

/* header */
header {
  position:fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 60px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  box-sizing: border-box;
  transition: 0.5s;
  &.active {
    transform: translateY(-100%);
  }
  .logo {
    color: #fff;
  }
  .menuOpen {
    display: none;
    transition: 0.3s;
  }
  .gnb ul {
    display: flex;
    justify-content: space-between;
    li {
      margin-left: 70px;
      a {
        display: block;
        &:hover {
          .char {
            &::before {
              transform: translateY(0);
              opacity: 1;
            }
            &::after {
              transform: translateY(-100%);
              opacity: 1;
            }
          }
        }
        .char {
          position: relative;
          display: inline-block;
          color: transparent;
          overflow: hidden;
          &::before, 
          &::after {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.6;
            color:#fff;
            content: attr(data-char);
            transition: transform 0.35s;
            transition-delay:calc(30ms * var(--char-index)) ;
          }
          &::before {
            transform:translateY(100%);
          }
        }
      }
    }
  }
}

/* visaul */
.visual {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 125px;
  letter-spacing: -1px;
  box-sizing: border-box;
  &.motion {
    .mainText {
      transform: translate3d(0,0,0) skewY(0deg);
      overflow: hidden;
      p {
        span {
          display: block;
          animation-name: textAni;
          animation-duration: 1.8s;
        }
        &:nth-child(2) {
          span {
            animation-duration: 1.7s;
          }
        }
        &:nth-child(3) {
          span {
            animation-duration: 1.5s;
          }
        }
      }
    }
    .subText {
      animation-name: textAni2;
      animation-duration: 2.3s;
    }
    #svgAni01 {
      stroke-dasharray: 675;
      stroke-dashoffset: -675; /* 캡때문에 2정도 추가 */
      animation:ani1 .5s linear 2s forwards;
    }
    #svgAni03 {
      stroke-dasharray: 3059;
      stroke-dashoffset: 3059;
      animation:ani3 2s linear .1s forwards;
    }
    #svgAni04 {
      stroke-dasharray: 66;/* 캡때문에 추가 */
      stroke-dashoffset: 66;/* 캡때문에 추가 */
      animation:ani4 .2s linear 1s forwards;
    }
    #svgAni05 {
      stroke-dasharray: 57;/* 캡때문에 추가 */
      stroke-dashoffset: 57;/* 캡때문에 추가 */
      animation:ani5 .2s linear 0s forwards;
    }
  }
  .mainText {
    display: inline-block;
    font-size: 140px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 110px 60px;
    p {
      overflow: hidden;
    }
  }
  .subText {
    margin-left: 20%;
  }
  .scroll {
    position: fixed;
    left: 60px;
    bottom: 40px;
  }
  .svgAni {
    position:absolute;
    top: 9%;
    right: -2%;
    width: 55%;
    transform: rotate(-10deg);
  }
}

/* mainText */
@keyframes textAni {
  0% {opacity: 0;}
  30% {opacity: 0; transform: translate3d(0,-90px,0) skewY(-10deg); transform-origin: top left;}
}

@keyframes textAni2 {
  0% {opacity: 0;}
  30% {opacity: 1;}
}
/* mainText */


/* svg */
@keyframes ani1 {
  0% {stroke-dashoffset: 675;}
  100% {stroke-dashoffset: 0;}
}

@keyframes ani3 {
  0% {stroke-dashoffset: 3069;}
  100% {stroke-dashoffset: 0;}
}
@keyframes ani4 {
  0% {stroke-dashoffset: 64;}
  100% {stroke-dashoffset: 0;}
}
@keyframes ani5 {
  0% {stroke-dashoffset: 55;}
  100% {stroke-dashoffset: 0;}
}
/* svg */